:root {
  --header-clr: #387478;
  --bg-clr: #243642;
  --title-clr: #e2f1e7;
  --year-clr: #629584;
  --movie-width: 14rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background: var(--bg-clr);
  padding: 2rem;
  color: var(--title-clr);
  font-family: Monaco;
}

.list-movies-title {
  padding: 0.75rem 0;
  /* background: var(--header-clr); */
  color: #e2f1e7;
  font-family: Arial, "Helvetica Neue", sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 2rem;
}

.movie-grid {
  list-style-type: none;
  padding-inline: 3rem;
  margin: 0;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.movie-grid li {
  /* padding: 10px 15px; */
  text-align: center;
  margin-top: 1rem;
}

.movie {
  width: var(--movie-width);
}

.movie-title,
.movie-year {
  font-size: 0.8em;
}

.movie-title {
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;
}

.movie-year {
  color: var(--year-clr);
}

.movie-poster {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
}
